This is a laboratory for teaching Angular 19.

The functionality in the example is a booking app for space travel. But, the most important thing is to show the features of Angular 19.

I need to document all the code and processes thinking about a student who knows nothing about Angular.
